@charset "utf-8";

/* base */
*:focus {outline:none}
html,body {margin:0;padding:0;}
body {color:#000;font-style:normal;-webkit-text-size-adjust:none}/* -webkit-text-size-adjust:none 웹표준 검사에 오류로 표시 */
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,table,form,fieldset {margin:0;padding:0}
body,input,textarea,select,button,table {font-size:12px;font-family:Malgun Gothic, 맑은 고딕, Verdana, dotum, Sans-serif}
table {empty-cells:show}
caption,legend {display:none}
a img,img {vertical-align:top;}
img,fieldset {border:0}
ul,dl,dd {list-style:none;margin:0;padding:0;}
ul li img {vertical-align:top}
em,address {font-style:normal}
a {text-decoration:none}
a:hover,a:active,a:visited,a:focus {}/* text-decoration:underline */

/* form */
input[type="button"],input[type="text"],button,.w2inputCalendar_divInput {-webkit-appearance:none;}/* iOS 버튼 라운딩 제어 */

/* websquare common */
.w2group, .w2trigger {background-color:transparent}
.w2tabcontrol_contents {-webkit-overflow-scrolling: touch}/* 모바일 tabControl scrolling */
.w2input,.w2textarea,.w2inputCalendar_divInput,.w2upload .w2upload_input {font-family: Malgun Gothic, 맑은 고딕, Verdana, dotum, Sans-serif;color:#60656f;border:1px solid #d4d4d4;background:#fff}
.w2input,.w2textarea,.w2selectbox_native,.w2selectbox_native.fixedWidth .w2selectbox_native_select,.w2upload .w2upload_input,.w2selectbox,.w2autoComplete {-moz-box-sizing:border-box;box-sizing:border-box;border-radius:3px}
.w2selectbox_native {border:1px solid #d3dbe3;}

/* layout */
.wrap {position:relative;height:100%;/*min-width:1280px;*/overflow-x:auto;}
.header {position:relative;width:100%;height:70px;background:#fff;-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);z-index:1000;font-weight:bold}
.container {position:absolute;left:0;top:70px;right:0;bottom:0;background:#fff;}
.contents {position:absolute;left:0;right:0px;top:0px;bottom:0px;overflow:auto;transition:all 0.8s}
.cke_screen_reader_only {top:-9999px} /* CKEditor 노출시, body영역에 세로스크롤 발생현상 수정용 */

/* header */
.header:after {content:'';clear:both;display:block;}
.header .linkarea {width:100%;height:47px;border-bottom:1px solid #ebebeb;text-align:right;display:none}
.header .linkarea a {position:relative;display:inline-block;height:47px;line-height:47px;padding:0 15px;vertical-align:middle;font-size:13px;color:#888}
.header .linkarea .btn_wtechcenter:before, .header .linkarea .btn_demosite:before {content:"";position:absolute;left:0px;top:18px;height:12px;border-left:1px solid #aaa}
.header .linkarea .btn_allmenu {display:inline-block;height:29px;line-height:29px;padding:0 9px 0 34px;margin-left:5px;margin-right:2.3958%;border:1px solid #cfd5d8;border-radius:2px;color:#737373;background:url(../../cm/images/btn_allmenu.png) 11px 7px no-repeat}
.header .linkarea .btn_allmenu:hover {background-color:#ebebeb}
.header .btn_toggle_menu {display:inline-block;position:relative;width:56px;height:70px;background:#fff;font-size:0px;line-height:0px;vertical-align:top}
.header .btn_toggle_menu:after {content:"";position:absolute;left:18px;top:27px;width:20px;height:15px;background:url(../../cm/images/btn_toggle_menu.png) 0 0 no-repeat}
.header .btn_toggle_menu:hover:after {animation:btn_toggle_menu 1s forwards}
.header h1 {display:inline-block;width:225px;height:70px;vertical-align:top}
.header h1 .logo {display:inline-block;width:100%;height:100%;font-size:0px;line-height:0px;vertical-align:top;background:url(../../cm/images/logo.png) 26px 20px no-repeat}
.gnb_menu {position:relative;display:inline-block;margin-left:50px;}
.gnb_menu > li {position:relative;display:inline-block;height:100%;vertical-align:top;}
.gnb_menu > li > a {position:relative;display:inline-block;width:100%;line-height:70px;padding:2px 35px 0 35px;box-sizing:border-box}
.gnb_menu > li:nth-child(1) > a {background:url(../../cm/images/ico_menu01.png) left center no-repeat;background-size:24px}
.gnb_menu > li:nth-child(2) > a {background:url(../../cm/images/ico_menu02.png) left center no-repeat;background-size:24px}
.gnb_menu > li:nth-child(3) > a {background:url(../../cm/images/ico_menu03.png) left center no-repeat;background-size:24px}
.gnb_menu > li:nth-child(4) > a {background:url(../../cm/images/ico_menu04.png) left center no-repeat;background-size:24px}
.gnb_menu > li.on > a, .gnb_menu > li > a:hover {color:#0e6fef;}
.gnb_menu > li.on > a:before, .gnb_menu > li > a:hover:before {content:'';position:absolute;bottom:10px;left:50%;width:6px;height:6px;margin-left:-3px;border-radius:100%;background:#0e6fef;}
.gnb_menu > li.on:nth-child(1) > a, .gnb_menu > li:nth-child(1) > a:hover {background:url(../../cm/images/ico_menu_on01.png) left center no-repeat;background-size:24px}
.gnb_menu > li.on:nth-child(2) > a, .gnb_menu > li:nth-child(2) > a:hover {background:url(../../cm/images/ico_menu_on02.png) left center no-repeat;background-size:24px}
.gnb_menu > li.on:nth-child(3) > a, .gnb_menu > li:nth-child(3) > a:hover {background:url(../../cm/images/ico_menu_on03.png) left center no-repeat;background-size:24px}
.gnb_menu > li.on:nth-child(4) > a, .gnb_menu > li:nth-child(4) > a:hover {background:url(../../cm/images/ico_menu_on04.png) left center no-repeat;background-size:24px}
.dep2 {display:none;position:absolute;top:70px;left:-1px;min-width:163px;border:1px solid #caccce;z-index:200;}
.dep2 > li {background:#fff;}
.dep2 > li + li {border-top:1px solid #e9ecef}
.dep2 > li > a {display:block;padding:10px 11px;font-size:14px;line-height:18px;color:#4a5864;text-align:left;box-sizing:border-box;}
.dep2 > li:hover {background-color:#f8f8fa}
.dep2 > li.on {background:#f8f8fa url(../../cm/images/btn_tab_right.png) no-repeat 95% center;-webkit-transition:background-position-y .3s;-o-transition:background-position-y .3s;transition:background-position-y .3s}
.gnb_menu > li.on > .dep2 {display:block;box-shadow:-2px 5px 8px -5px #aaaaaa;-moz-box-shadow:-2px 5px 8px -5px #aaaaaa;-webkit-box-shadow:-2px 5px 8px -5px #aaaaaa;}

.dep3 {display:none;position:absolute;top:-1px;left:100%;min-width:163px;border:1px solid #caccce;z-index:100;-webkit-transition:ease-in .2s;-o-transition:ease-in .2s;transition:ease-in .2s;}
.dep3 > li {background:#fff;}
.dep3 > li + li {border-top:1px solid #e9ecef}
.dep3 > li > a {display:block;padding:10px 11px;font-size:14px;line-height:18px;color:#4a5864;text-align:left;}
.dep3 > li:hover {background-color:#f8f8fa}
.dep2 > li.on > .dep3 {display:block;box-shadow:-2px 5px 8px -5px #aaaaaa;-moz-box-shadow:-2px 5px 8px -5px #aaaaaa;-webkit-box-shadow:-2px 5px 8px -5px #aaaaaa;}

.header .option_box {position:absolute;top:0;right:0;display:table;}
.header .option_box > ul {display:table-cell;vertical-align:middle;}
.header .option_box > ul > li {display:inline-block;min-width:99px;height:70px;border-left:1px solid #eaecec;text-align:center;}
.header .option_box > ul > li > a {position:relative;display:inline-block;width:100%;height:100%;padding-top:30px;color:#8198ac;-webkit-box-sizing:border-box;box-sizing:border-box; font-size:13px;vertical-align:middle;}
.header .option_box > ul > li > a.btn_mypage {padding:25px;color:#4a5864;font-size:14px;}
.header .option_box ul li .btn_mypage:before {content:'';position:absolute;top:50%;right:7px;width:8px;height:4px;margin-top:-5px;background:url(../../cm/images/ico_head_select.png) no-repeat right center}
.header .option_box ul li .btn_mypage:after {content:'';position:absolute;top:50%;left:28px;width:8px;height:4px;margin-top:6px;font-size:12px;color:#97a9b9;}
.header .option_box ul li .btn_setting {padding-top:40px;background:url(../../cm/images/ico_setting.png) no-repeat center 13px;background-size:22px}
.header .option_box ul li:hover {background-color:#f8f8fa}
.header .option_box ul li.myapge {position:relative;}
.header .option_box ul li.mypage .items {display:none;position:absolute;top:70px;left:-1px;min-width:163px;border:1px solid #caccce;z-index:10;}
.header .option_box ul li.mypage .items li {background:#fff;}
.header .option_box ul li.mypage .items li + li {border-top:1px solid #e9ecef}
.header .option_box ul li.mypage .items li a {display:block;padding:10px 11px;font-size:14px;line-height:18px;color:#4a5864;text-align:left;}
.header .option_box ul li.mypage .items li:hover {background-color:#f8f8fa}
.header .option_box ul li.mypage .items.on {display:block;box-shadow:-2px 5px 8px -5px #aaaaaa;-moz-box-shadow:-2px 5px 8px -5px #aaaaaa;-webkit-box-shadow:-2px 5px 8px -5px #aaaaaa;}
.header .option_box ul li.mypage .items .btn_logout:after {content:'';display:inline-block;width:16px;height:16px;margin-left:3px;vertical-align:middle;background:url(../../cm/images/contents/ico_logout.png) no-repeat left top}
.header .btn_logout {display:none;position:absolute;top:13px;right:10px;width:20px;height:20px;background: url(../../cm/images/icon_logout.png) no-repeat;text-indent:-9999px;overflow:hidden;}

/* MDI */
.win_c {position:absolute;top:0;left:0;right:0;bottom:0}
.win_c .w2window {border:none;border-top:1px solid #d4dcde;}
.win_c .w2window_iframe {background:#fff}
.win_c .w2window.w2window_restored {border: 1px solid #d4dcde;}
.win_c .w2window_header {height:30px;background:#fff; padding:0}
.win_c .w2window_header .w2window_header_title {color:#000}
.win_c .w2window_header_icon {top:3px}
.win_c .w2window_header_control {height:30px;top:0;width:58px}
.win_c .w2windowContainer_window_top {position:absolute; top:40px;}
.win_c .w2windowContainer_window {left:0;right:0;bottom:36px;}
.win_c .w2windowContainer_nameLayer {top:0;white-space:nowrap;height:20px;padding:0 25px 0 25px;line-height:20px;white-space:nowrap;border:1px solid #b5b8be;border-width:0 1px 0 1px;color:#5a5a5a;text-overflow:ellipsis;background:#dadada;-moz-box-sizing:border-box;box-sizing:border-box;}
.win_c .w2window_body {top:0;background-color:transparent}
.win_c .w2window_content {left:0;right:0;bottom:0;border:0;}
/* Restored Window */
.win_c .w2window_restored .w2window_body {top:30px;}
.win_c .w2window_restored .w2window_header {background:#e9ebf1}
/* 상단툴바 */
.win_c .w2windowContainer_windowToolbar {height:36px;border-top:2px solid #5a5a5a;background:#d9dadc;}
.win_c .w2windowContainer_windowToolbar_top {height:36px; background:transparent;}
.win_c .w2windowContainer_nameContainer {height:36px; top:0; right:299px !important; border-bottom:1px solid #d4dcde}
.win_c .w2windowContainer_name {height:36px;}
.win_c .w2windowContainer_nameLayer,
.win_c .w2windowContainer_selectedNameLayer {font-size:15px;text-align:center;width:auto;height:41px;font-weight:bold;line-height:41px;}
.win_c .w2windowContainer_selectedNameLayer {position:relative;color:#000;background:#fff;border:0;}
.win_c .w2windowContainer_nameLayer_close {background:url(../../cm/images/btn_tab_allclose.png) no-repeat center center; width:25px; height:25px; right:0px; left:auto; top:0px;}
.win_c .w2windowContainer_selectedNameLayer .w2windowContainer_nameLayer_close {top:0px;}
.win_c .w2windowContainer_controlIconLayer {width:209px !important;right:0;top:0;height:40px;background:#dadada;}
.win_c .w2windowContainer_controlIcon_vertical {background-image: url(../../cm/images/icon_mdi0.png); width:24px; height:24px; left:auto !important; right:118px; top:6px;}
.win_c .w2windowContainer_controlIcon_horizontal {background-image: url(../../cm/images/icon_mdi1.png); width:24px; height:24px; left:auto !important; right:90px;top:6px;}
.win_c .w2windowContainer_controlIcon_cascade {background-image: url(../../cm/images/icon_mdi2.png); width:24px; height:24px;left:auto !important; right:62px; top:6px;}
.win_c .w2windowContainer_controlIcon_sequential {background-image: url(../../cm/images/icon_mdi3.png); width:24px; height:24px; left:auto !important; right:34px; top:6px;}
.win_c .w2windowContainer_controlIcon_closeAll {background-image: url(../../cm/images/icon_mdi4.png); width:24px; height:24px; left:auto !important; right:6px; top:6px;}
.win_c .w2windowContainer_controlIcon_maximize {background-image: url(../../cm/images/icon_mdi5.png); width:24px; height:24px; left:200px; top:6px;}
.win_c .w2windowContainer_scrollRightBtn {width:24px; height:24px; top:6px; right:142px; margin-right:0 !important; background-image: url(../../cm/images/win_right_off.png); background-position:0 0}
.win_c .w2windowContainer_scrollLeftBtn {width:24px; height:24px; top:6px; left:auto !important; right:173px; background-image: url(../../cm/images/win_left_off.png); background-position:0 0}
/* 상태바 */
.win_c .w2window_status {left:0;right:0;bottom:0;background:#e6e6e6;border:1px solid #b3b3b3;border-width:1px 0 0 0;z-index:1000;}
.win_c .w2window_msg {left:5px;width:auto;padding:3px 0 0 19px;height:15px;color:#495255;}

/* 상단 좌측메뉴 햄버거버튼 애니메이션 적용 */
@keyframes btn_toggle_menu {100%{transform:rotate(180deg)}}

/* side */
.side {position:absolute;top:70px;left:-291px;bottom:0;width:290px;border-right:1px solid #e1e1e1;overflow:auto;background:#3e4248;transition:all 0.8s;z-index:999}
.side .grp_tab {position:absolute;top:0;left:0;right:0;bottom:0;}
.side .grp_tab > a {position:absolute;text-indent:-9999px;}
.side .grp_tab > .shortcut_box {position:absolute;right:0;height:35px;padding:6px 4px 0 10px;box-sizing:border-box;}
.side .grp_tab > .shortcut_box:after {content:'';display:block;clear:both;}
.side .grp_tab > .shortcut_box .btn_all_search {display:inline-block;width:25px;height:25px;background:url(../../cm/images/btn_all_search.png) no-repeat;text-indent:-9999px;vertical-align:middle;}
.side .grp_tab > .shortcut_box .btn_fold {display:inline-block;width:22px;height:22px;background:url(../../cm/images/btn_folder.png) no-repeat top 5px center;text-indent:-9999px;vertical-align:middle;}
.side .grp_tab > .shortcut_box .btn_fold.on {background-image:url(../../cm/images/btn_folder_on.png);}
.side .grp_tab > .shortcut_box .btn_fold_list {display:inline-block;width:22px;height:22px;background:url(../../cm/images/btn_folder_list.png) no-repeat center;text-indent:-9999px;vertical-align:middle;}
.side .grp_tab > .shortcut_box .btn_fold_list.on {background-image:url(../../cm/images/btn_folder_list_on.png)}

.side .grp_tab .search_field {display:none;position:relative;left:0;z-index:100;width:100%;background-color:#f6f6f6;padding:6px;box-sizing:border-box;border-top:1px solid #e9e9e9;}
.side .grp_tab .search_field.active {display:block;}

.side .grp_tab .tab_tit {overflow:hidden;background:#fff}
.side .grp_tab .tab_tit li {float:left;height:35px;border:1px solid #e9e9e9;border-width:1px 1px 0 0;background:#fff;}
.side .grp_tab > .tab_tit > li > a {display:block;line-height:35px;padding:0 20px;color:#333;-moz-box-sizing:border-box;box-sizing:border-box;font-size:15px;}
.side .grp_tab > .tab_tit > li.on {background:#1875f0;}
.side .grp_tab > .tab_tit > li.on > a {color:#fff;}
.side .grp_tab > .tab_tit > li.allmenu {position:relative;}
/* .side .grp_tab > .tab_tit > li.allmenu:after {content:'';position:absolute;top:50%;margin-top:-8px;right:24px;width:16px;height:16px;background:url(../../cm/images/ico_srh_wh.png) no-repeat center;background-size:16px 16px;} */
.side .grp_tab > .tab_tit > li.allmenu a {padding:0 20px 0 16px;cursor:pointer;}
.side .grp_tab .tab_conbox .tab_con {position:absolute;top:41px;left:0;bottom:0;overflow:auto;}

/* 최근작업 */
.recent_work {position:absolute;left:10px;right:10px;bottom:10px;padding:38px 12px 20px 12px;border:1px solid #686868;border-radius:12px;-moz-box-sizing:border-box;box-sizing:border-box;}
.recent_work:after {content:'';position:absolute;top:-20px;left:23px;width:48px;height:34px;background:url(../../cm/images/img_works.png) no-repeat;}
.recent_work:before {content:'';position:absolute;top:11px;left:10px;width:69px;height:10px;border-radius:50%;background-color:#000;}
.recent_work .btn_work_clear {position:absolute;top:7px;right:7px;width:26px;height:26px;background:url(../../cm/images/btn_works.png) no-repeat;text-indent:-9999px;}
.recent_work .work_item {max-height:140px;overflow-y:auto;}
.recent_work .work_item a {display:block;padding:6px 15px 6px 20px;font-size:14px;color:#fff;}
.recent_work .work_item a.on,
.recent_work .work_item a:focus {background:url(../../cm/images/bg_sidemenu03.png) no-repeat left 9px;}

/* LNB */
.tw_menu {background-color:transparent;}
.tw_menu .w2treeview_group {width:100%;}
.tw_menu .w2treeview_row_depth1 .w2treeview_label {color:#fff;font-size:16px;}
.tw_menu .w2treeview_row_depth2 .w2treeview_label {color:#fff;font-size:15px;}
.tw_menu .w2treeview_row_depth3 .w2treeview_label {color:#fff;font-size:14px;}
.tw_menu .w2treeview_row_depth3 .w2treeview_label.w2treeview_select_node {position:relative;font-weight:normal;color:#fff;}
.tw_menu .w2treeview_row_depth3 .w2treeview_label.w2treeview_select_node:before {content:'';position:absolute;top:5px;left:-15px;width:14px;height:11px;background:url(../../cm/images/bg_sidemenu03.png) no-repeat}
.tw_menu .w2treeview_row_depth1 .w2treeview_col_label {width:100%}
/* 뎁스별 높이값 */
.tw_menu .w2treeview_row_parent {height:48px;}
.tw_menu .w2treeview_row_parent.w2treeview_row_depth2 {height:40px;}
.tw_menu .w2treeview_row_parent.w2treeview_row_depth3 {height:28px;}
/* 1뎁스 디자인 */
.tw_menu .w2treeview_noguideline.w2treeview_col_depth1 {width:30px;}
.tw_menu .w2treeview_node .w2treeview_row_depth1 {border-bottom:1px solid #585a5c}
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 + .w2treeview_row_child {border-bottom:1px solid #585a5c;background-color:#2a2c2f}
.tw_menu .w2treeview_close_child .w2treeview_row_depth1 .w2treeview_col_icon_navi,
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 .w2treeview_col_icon_navi {width:40px;}
.tw_menu .w2treeview_close_child .w2treeview_row_depth1 .w2treeview_icon_navi {width:26px;height:27px;margin:0 auto;background:url(../../cm/images/bg_sidemenu01.png) no-repeat 0 0;}
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 .w2treeview_icon_navi {width:26px;height:27px;margin:0 auto;background:url(../../cm/images/bg_sidemenu01.png) no-repeat 0 -27px;}
.tw_menu .w2treeview_leaf .w2treeview_row_depth1 .w2treeview_icon_none {width:26px;height:27px;margin:0 auto;background:url(../../cm/images/bg_sidemenu01.png) no-repeat 0 -54px;}
/* 2뎁스 디자인 */
.tw_menu .w2treeview_open_child .w2treeview_row_depth2 .w2treeview_icon_navi {width:16px;height:16px;background:url(../../cm/images/bg_sidemenu02.png) no-repeat 0 -16px}
.tw_menu .w2treeview_close_child .w2treeview_row_depth2 .w2treeview_icon_navi {width:16px;height:16px;background:url(../../cm/images/bg_sidemenu02.png) no-repeat 0 0}

.show_menu .side {left:0;bottom:0;}
.show_menu .contents {left:291px;}
.show_menu .dim.on {display:block;}

/* login */
.login_wrap .login_header {position:relative;width:100%;height:70px;}
.login_wrap .login_header h1 {z-index:100;position:absolute;top:30px;left:60px;display:inline-block;vertical-align:top;}
.login_wrap .login_header h1 .logo {display:inline-block;width:220px;height:28px;font-size:0px;line-height:0px;background:url(../../cm/images/logo_white.png) no-repeat;background-size:100% 100%;}
.login_wrap .container {top:0;width:100%;height:100%;background:url(../../cm/images/bg_login01.png), url(../../cm/images/bg01.png);background-color:#292260;background-repeat:no-repeat, no-repeat;background-position:right bottom, right -800px bottom -100px;background-size:450px, 1850px;overflow:hidden;z-index:20;}
.login_wrap .container .login_container {z-index:30;position:absolute;top:100px;left:50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.login_wrap .container .login_container .login_tit {margin-left:40px;font-size:70px;color:#fff;font-weight:bold;}
.login_wrap .container .login_container .login_tit div:first-child {-webkit-animation:logintit01 1.3s forwards ease-in-out;animation:logintit01 1.3s forwards ease-in-out;opacity:0; }
@-webkit-keyframes logintit01 {
  0% { -webkit-transform: scale(1) translateX(90px) ; transform: scale(1) translateX(90px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}
@keyframes logintit01 {
  0% { -webkit-transform: scale(1) translateX(90px) ; transform: scale(1) translateX(90px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}

.login_wrap .container .login_container .login_tit div:last-child {-webkit-animation:logintit02 1.3s 0.5s forwards ease-in-out;animation:logintit02 1.3s 0.5s forwards ease-in-out;opacity:0; }
@-webkit-keyframes logintit02 {
  0% { -webkit-transform: scale(1) translateX(100px) ; transform: scale(1) translateX(100px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}
@keyframes logintit02 {
  0% { -webkit-transform: scale(1) translateX(100px) ; transform: scale(1) translateX(100px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}

.login_wrap .login_form {height:340px;padding:40px 40px 56px;margin-top:32px;background:rgba(255,255,255,0.1);border-radius:50px;box-sizing:border-box;}
.login_wrap .login_form {-webkit-animation:loginform 1.3s 1.4s forwards ease-in-out;animation:loginform 1.3s 1.4s forwards ease-in-out;opacity:0; }
@-webkit-keyframes loginform {
  0% { -webkit-transform: scale(1) translateX(140px) ; transform: scale(1) translateX(140px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}
@keyframes loginform {
  0% { -webkit-transform: scale(1) translateX(140px) ; transform: scale(1) translateX(140px) ; opacity: 0; }
  100% { -webkit-transform: scale(1) translateX(0px); transform: scale(1) translateX(0px); opacity: 1; }
}
.login_wrap  .login_form .form_tit {font-size:34px;color:#fff;}
.login_wrap  .login_form .form_group {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:42px;}
.login_wrap  .login_form .form_group .btn_forget {display:none;}
.login_wrap  .login_form .form_item {position:relative;display:block;width:360px;}
.login_wrap  .login_form .form_item span {display:block;font-size:24px;color:#fff;font-weight:bold;}
.login_wrap  .login_form .form_item input {display:block;width:100%;height:100%;padding-top:26px;padding-right:40px;padding-bottom:10px;border:0;border-bottom:1px solid #fff;font-size:22px;color:#05feef;background:transparent;border-radius:0;outline:0;}
.login_wrap  .login_form .form_item input:focus {-webkit-box-shadow:none;box-shadow:none}
.login_wrap  .login_form .form_item .btn_forget {display:block;margin-top:17px;color:#b6ff06;font-size:20px;}
.login_wrap  .login_form .form_item.user {margin-right:50px;}
.login_wrap  .login_form .form_item.pwd input {padding-top:23px;}
.login_wrap  .login_form .btn_login {display:block;position:relative;width:170px;height:170px;margin-left:100px;background-color:#292260;font-size:36px;color:#fff;border-radius:100%;text-align:center;border:0;color:#fff;background:#292260;line-height:170px;z-index:10;}
.login_wrap  .login_form .form_item .btn_login_close.hidden {display:none;}
.login_wrap  .login_form .form_item .btn_login_close {display:inline-block;position:absolute;top:48px;right:0;width:35px;height:35px;background:url(../../cm/images/btn_login_close.png) no-repeat right 4px center;background-size:18px 18px;pointer-events:auto;cursor:pointer;outline:0;}
.login_wrap .login_bg {position:absolute;right:-330px;bottom:146px;}
.login_wrap .login_bg .bg_bubble01 {position:absolute;right:0;left:0;width:42px;height:42px;background:url(../../cm/images/bg_bubble01.png) no-repeat center;}

/* form 정렬 */
.fl {float:left;min-height:14px}
.fr {float:right;min-height:14px}
.ofh {overflow:hidden}

/* text 정렬 */
.tal {text-align:left !important}
.tac {text-align:center !important}
.tar {text-align:right !important}

/* Font */
.fwb {font-weight:bold;}

/* padding */
.p0 {padding:0}
.pt5 {padding-top:5px}
.pt10 {padding-top:10px}
.pr5 {padding-right:5px}
.pr10 {padding-right:10px}
.pr20 {padding-right:20px}
.pb5 {padding-bottom:5px}
.pb10 {padding-bottom:10px}
.pl5 {padding-left:5px}
.pl10 {padding-left:10px}
.pl20 {padding-left:20px}

/* margin  */
.mt0 {margin-top:0 !important}
.mt3 {margin-top:3px !important}
.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt20 {margin-top:20px !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mr3 {margin-right:3px !important}
.mr5 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.ml0 {margin-left:0 !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}